python-dotenv==1.0.0 
numpy==1.24.3 
pyspark==3.4.1 
kafka-python==2.0.2 
minio==7.1.16 
delta-spark==2.4.0 
confluent-kafka==2.3.0 
apache-flink==1.18.1 
sqlalchemy 
psycopg2-binary
pandas
feast==0.36.0
feast-spark